body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.mainBanner {
  overscroll-behavior: none;
}
.bannerImage {
  position: relative;
}

.scrollDown {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bannerInfo {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.wrapper {
  height: 60px;
  width: 65%;
}
/* .info {
  font-size: 60px;
  font-weight: 600;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0px;
  color: rgb(81, 140, 123);
  margin: 0px;
} */

.animate-text {
  margin: 0;
  overflow: hidden;
}
p span {
  font-size: 60px;
  color: #ff2c45;
  font-weight: 700;
  display: inline-block;
  display: none;
}

p span.text-in {
  display: block;
  animation: textIn 0.5s ease;
}
p span.text-out {
  animation: textOut 0.5s ease;
}
@keyframes textIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes textOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.bannerInfo > h4 {
  font-size: 80px;
  font-weight: 900;
  font-family: "museo-sans", sans-serif;
  letter-spacing: -0.9px;
  text-shadow: -1px 1px 0 rgb(170, 168, 168), 1px 1px 0 rgb(170, 168, 168),
    1px -1px 0 #000, -1px -1px 0 #000;
}
.any {
  width: 18rem;
}

/* .bannertitle > h3 {
  font-size: 56px;
  font-weight: 900;
  font-family: "museo-sans", sans-serif;
  letter-spacing: -0.9px;
  text-shadow: -1px 1px 0 rgb(170, 168, 168), 1px 1px 0 rgb(170, 168, 168),
    1px -1px 0 #000, -1px -1px 0 #000;
} */
/* .bannertitle > p {
  /* padding-top: 10px; /
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  font-family: "museo-sans", sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 0 #292f36;
} */
.scrollDown > button {
  min-width: 215px;
  height: 50px;
  border-radius: 40px;
  color: #fff;
  background-color: #0a7986;
  border: none;
  font-size: 16px;
  font-weight: 400;
  transition: transform 0.25s ease-in-out;
  font-family: "museo-sans", sans-serif;
  /* box-shadow: 0 2px 7px 0 rgb(0 0 0 / 20%); */
}
.scrollDown > button:hover {
  transform: scale(1.1);
}
.bannerImage > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* border-radius: 20px; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  font-family: "museo-sans", sans-serif;
}

.scrollDown2 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scrollDown2 > a > button {
  min-width: 215px;
  height: 50px;
  border-radius: 40px;
  color: #fff;
  background-color: #0a7986;
  border: none;
  font-size: 16px;
  font-weight: 400;
  transition: transform 0.25s ease-in-out;
  font-family: "museo-sans", sans-serif;
  /* box-shadow: 0 2px 7px 0 rgb(0 0 0 / 20%); */
}
.scrollDown2 > a > button:hover {
  transform: scale(1.1);
}
.cardSection > .container > h3 {
  font-family: "museo-sans", sans-serif;
  color: #292f36;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -0.7px;
}
/* all card section csss */
.cardSection {
  margin: 80px 0px;
}
.cardSectioninfo {
  padding: 0px 40px;
}
.allCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 60px;
  margin-top: 50px;
}
.cardSectioninfo > img {
  object-fit: cover;
  width: 13rem;
  padding-right: 20px;
}
.cardTitle > h5 {
  font-family: "museo-sans", sans-serif;
  color: #292f36;
  font-size: 24px;
  font-weight: 700;
}
.cardTitle > p {
  color: #292f36;
  font-weight: 300;
  font-size: 16px;
  font-family: "museo-sans", sans-serif;
}

.buttonCard {
  width: fit-content;
}
.buttonCard > img {
  max-width: 100%;
  object-fit: cover;
}
.allButtons-title {
  padding-bottom: 4rem;
}
.allButton {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}
.allButtons > .container > h3 {
  color: #292f36;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -0.7px;
  font-size: 36px;
  font-family: "museo-sans", sans-serif;
}
.subMaincontainer {
  display: flex;
  flex-direction: row;
}
.subContainercard > img {
  width: 150px;
}
.subContainer > .container > h3 {
  margin: 80px 0px;
  color: #292f36;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.9px;
  font-size: 36px;
  font-family: "museo-sans", sans-serif;
}
/*  */
.buttonCardsection {
  margin: 80px 40px;
}
.cardTypeimg {
  position: relative;
}
.cardTypeimg > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
}
.subcardInfo {
  padding: 10px 60px;
}
.subcardInfo > h4 {
  font-family: "museo-sans", sans-serif;
  margin-bottom: 18px;
  margin-top: 15px;
  color: #292f36;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -0.4px;
  font-size: 30px;
}
.subcardInfo > p {
  font-size: 16px;
  font-weight: 300;
  color: #292f36;
  font-family: "museo-sans", sans-serif;
}
.subcardInfo > h4 > strong {
  color: red;
}
.shopButton {
  display: inline-block;
  position: relative;
  top: -18px;
  background: #ffffff;
  padding: 6px 16px;
  border-radius: 100px;
  color: #0a7986;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #f0f2f5;
  box-shadow: 0px 10px 32px rgb(59 74 116 / 16%);
  cursor: pointer;
  text-transform: capitalize;
  font-family: "museo-sans", sans-serif;
}
.subContainer {
  padding-bottom: 6rem;
}
/* home page csss */
.funny {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.form-check-input:checked {
  background-color: rgb(28, 90, 64);
  border: rgb(28, 90, 64);
}
@media screen and (max-width: 1048px) {
  .allCard {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
  }
  .cardTitle {
    padding: 0px 0px;
  }
}
@media screen and (max-width: 768px) {
  .allCard {
    flex-wrap: wrap;
  }
  .allButton {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .subMaincontainer {
    display: flex;
    flex-wrap: wrap;
  }
  .cardTitle {
    padding: 0px 0px;
    text-align: center;
  }
  .any {
    width: 100%;
  }

  .cardTypeimg {
    padding: 0px 0px;
  }
  .scrollDown {
    top: 90%;
  }
}

@media screen and (max-width: 500px) {
  .allButton {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .cardTypeimg {
    padding: 0px 0px;
  }
  .cardTitle,
  .subcardInfo {
    padding: 0px 0px;
  }
  .cardTypeimg {
    padding: 0px 0px;
  }
  .scrollDown > button {
    min-width: 100%;
    padding: 0px 35px;
  }
  .linksignup {
    min-width: 10rem;
  }

  .linksignup > a {
    font-size: 16px;
  }
  .bannerInfo {
    width: 100%;
  }
  .buttonCardsection {
    margin: 80px 0px;
  }
  .bannertitle > h3 {
    font-size: 45px;
  }
  .funny {
    display: block;
  }
  .bannerInfo > h4 {
    font-size: 55px;
  }
  p > span {
    font-size: 50px;
  }
}
@media screen and (max-width: 250px) {
  .scrollDown > button {
    min-width: 9rem;
    height: 34px;
    font-size: 13px;
  }
  .linksignup {
    min-width: 9rem;
    height: 34px;
    font-size: 13px;
    text-align: center;
  }

  .linksignup > a {
    font-size: 13px;
    text-align: center;
  }
  .allButton {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .scrollDown {
    top: 95%;
  }
}
